<%= provide :home_page, "active" %>
<%= provide :main do %>
  <% if user_signed_in? %>
    <a id="sample_editable_1_new" data-toggle="modal" href="#large"
      class="btn sbold blue-steel"> <%= t ".new" %>
      <i class="fa fa-plus"></i>
    </a>
    <%= render "shared/post_form" %>
  <% end %>
  <% if @posts.any? %>
    <div class="body-posts-area">
      <%= render @posts %>
      <%= paginate @posts, theme: "twitter-bootstrap-3" %>
    </div>
  <% else %>
    <div class="updates">
      <div class="alert alert-warning no-updates"><%= t ".no_post" %></div>
      <div class="loader hidden text-center">
        <div class="btn btn-default">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= render "layouts/main", user: @user %>
