<div class="portlet light profile-sidebar-portlet">
  <div class="profile-userpic">
    <%= link_to user do %>
      <%= avatar_tag user, class: "img-responsive" %>
    <% end  %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= link_to user.full_name, user, class: "black" %>
    </div>
    <div class="profile-usertitle-job"><%= user.gender %></div>
  </div>
  <div class="profile-userbuttons follow-field">
    <%= render "shared/follow_field", user: user %>
  </div>
</div>
<div class="list-separated profile-stat">
  <div class="profile">
    <ul class="list-unstyled profile-nav">
      <li>
        <%= link_to posts_user_path user do %>
          <strong><%= t ".posts" %></strong>
          <span class="posts-size"> <%= user.posts.size %> </span>
        <% end %>
      </li>
      <li>
        <%= link_to posts_user_path user do %>
          <strong><%= t ".comments" %></strong>
          <span id="comments_size"> <%= user.comments.size %> </span>
        <% end %>
      </li>
      <li>
        <%= link_to following_user_path user do %>
          <strong><%= t ".following" %></strong>
          <span class="following-size"> <%= user.following.size %> </span>
        <% end %>
      </li>
      <li>
        <%= link_to followers_user_path user do %>
          <strong><%= t ".followers" %></strong>
          <span class="followers-size"> <%= user.followers.size %> </span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
