<%= provide "#{@title}_page".to_sym, "active" %>
<%= provide :main do %>
  <div class="portlet box">
    <div class="portlet-title bg-blue-steel">
      <div class="caption">
        <span aria-hidden="true" class="icon-users"></span>
        <span class="bold">"<%= @user.full_name %>" <%= @title %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @users.try :any? %>
      <%= render @users %>
      <%= paginate @users, theme: "twitter-bootstrap-3" %>
    <% else %>
      <div class="updates">
        <div class="alert alert-warning no-updates"><%= t ".no_avail" %></div>
        <div class="loader hidden text-center">
          <div class="btn btn-default">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= render "layouts/main", user: @user %>
