<div class="modal fade bs-modal-lg modal-update-post"
  id="edit_post_<%= post.id %>_id" tabindex="-1"
  role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_for post, url: post,
        html: {class: "update_post"} do |f| %>
        <div class="modal-header bg-green-seagreen">
          <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title bold uppercase font-white">
            <%= t ".edit" %>
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title, class: "control-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :content, class: "control-label" %>
            <%= f.text_area :content, cols: Settings.post.box_size.cols,
              rows: Settings.post.box_size.rows,
              class: "form-control tinymce" %>
          </div>
          <div class="form-group">
            <%= f.label :tags, class: "control-label bold" %>
            <%= f.select :lists_tag, post.tags_name, {}, multiple: true,
              class: "form-control input-lg", data: {role: "tagsinput"} %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger cancel-edit-post"
            data-dismiss="modal"><%= t ".cancel" %>
          </button>
          <%= f.submit t(".update"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
