<%= provide :title, t(".dashboard") %>
<%= provide :menu_name, t(".dashboard") %>
<%= provide :sub_menu_name, t(".dashboard") %>
<%= provide :sub_menu_describe, t(".content") %>
<%= provide :admin_root_path, t(".status") %>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @users.size %>">
            <%= @users.size %></span>
        </div>
        <div class="desc"> <%= t ".users" %></div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @posts.size %>">
            <%= @posts.size %></span>
        </div>
        <div class="desc"> <%= t ".posts" %></div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 green" href="#">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @comments.size %>">
            <%= @comments.size %>
          </span>
        </div>
        <div class="desc"> <%= t ".comments" %></div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">
          <span data-counter="counterup" data-value="<%= @tags.size %>">
            <%= @tags.size %>
          </span>
        </div>
        <div class="desc"> <%= t ".tags" %></div>
      </div>
    </a>
  </div>
</div>
<div class="note note-info">
  <h4 class="bold font-green-dark"> <%= t ".analytics" %></h4>
</div>
