<% user ||= current_user %>
<div class="flash-message">
  <%= render "shared/flash_messages" %>
</div>
<div class="profile-sidebar">
  <% if user.present? %>
    <%= render "users/basic_profile", user: user %>
  <% end %>
</div>
<div class="profile-content white-space no-padding">
  <div class="portlet-body">
    <div class="tabbable-custom ">
      <ul class="nav nav-tabs ">
        <li class="<%= yield :home_page %>">
          <%= link_to root_path do %>
            <strong> <%= t ".home" %> </strong>
          <% end %>
        </li>

        <% if user.present? %>
          <li class="<%= yield :posts_page %>">
            <%= link_to posts_user_path user do %>
              <strong> <%= t ".posts" %> (<%= user.posts.size %>)</strong>
            <% end %>
          </li>
          <li class="<%= yield :profile_page %>">
            <%= link_to user do %>
              <strong> <%= t ".profile" %> </strong>
            <% end %>
          </li>
          <li class="<%= yield :following_page %>">
            <%= link_to following_user_path user do %>
              <strong>
                <%= t ".following" %>(<%= user.following.size %>)
              </strong>
            <% end %>
          </li>
          <li class="<%= yield :followers_page %>">
            <%= link_to followers_user_path user do %>
              <strong>
                <%= t ".followers" %>(<%= user.followers.size %>)
              </strong>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          <%= yield :main %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= tinymce %>
